/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include "../dts/nrf9151dk_flash_partitions.dtsi"
#include "../dts/att_sram_partitions.dtsi"

/ {
	chosen {
		nordic,modem-trace-uart = &uart1;
		fmfu_storage = &fmfu_storage_partition;
	};

	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/att_storage";
			partition = <&littlefs_storage>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <1000000>;
};
